{% extends 'base.html' %}
{% block page_content %}
    {% if equip_photos %}
        <h1 class='text-center'>equipment for sale</h1>
        <div class="container mb-5">
            <div class="row mb-5">
                {% for equip_photo in equip_photos %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
                        <!-- Image -->
                        <img src="{{ equip_photo.photo.url}}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">
                            {% for equip in equip_photo.tagged_equip.all %}
                            <h5 class="card-title">{{ equip.brand }}</h5>
                                <p class="mt-2">{{ equip.type }}</p>
                                {% if equip.date_of_manufacture %}
                                    <p class="mt-2">Date of manufacture: {{ equip.date_of_manufacture }}</p>
                                {% endif %}
                            {% endfor %}
                            <a href="{% url 'photo details' equip_photo.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1 class='text-center'>No equip photos yet</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <!-- Button to Add a new Photo -->
            <a href="{% url 'create photo' %}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
        </div>
    {% endif %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% else %}
            <a disabled="disabled">&laquo; first</a>
            <a disabled="disabled">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% else %}
            <a disabled="disabled">next</a>
            <a disabled="disabled">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
