{% extends 'base.html' %}
{% block page_content %}

    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.picture }}.jpg"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h5>{{ profile.phone }}</h5>
                    {% if profile.email %}
                         <h5>{{ profile.email }}</h5>
                    {% endif %}

                </div>
                {% if is_owner %}
                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_page_content %}
    <!-- Pets Information -->
    <h2 class="text-center">My Equipment</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            <!-- Info for First Pet -->
            {% for equip in equips %}
                <div style="width: 18rem;">

                <img src="{{ equip.photo }}.jpg"
                         class="card-img-top" alt="Photo description">

                    <h5>{{ equip.brand }}</h5>
                    {% if equip.date_of_manufacture %}
                        <p class="mt-2">Date of manufacture: {{ equip.date_of_manufacture }}</p>
                    {% endif %}
{#                    <p class="mt-2">Age: 3</p>#}
                    {% if is_owner %}
                        <a href="{% url 'edit equip' equip.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete equip' equip.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
