{% extends 'base.html' %}
{% block page_content %}

    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.picture }}.jpg"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
                    <h5>{{ profile.phone }}</h5>
                    {% if profile.email %}
                        <h5>{{ profile.email }}</h5>
                    {% endif %}
                </div>
                {% if is_owner %}
                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block bottom_page_content %}
    <h2 class="text-center">My Equipment</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            {% for equip in equips %}
                <div style="width: 18rem;">

                    <img src="{{ equip.photo }}.jpg"
                         class="card-img-top" alt="Photo description">

                    <h5>{{ equip.brand }}</h5>
                    {% if equip.date_of_manufacture %}
                        <p class="mt-2">Date of manufacture: {{ equip.date_of_manufacture }}</p>
                    {% endif %}
                    {% if is_owner %}
                        <a href="{% url 'edit equip' equip.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete equip' equip.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
        </div>
    </div>

{% endblock %}
